.nav-links .repo-link {
    display: none;
}
.sidebar-heading {
  color: #999;
}
.theme-default-content:not(.custom) > h1, .theme-default-content:not(.custom) > h2 {
    margin-top: -3rem;
    padding-top: 4.6rem;
    margin-bottom: 2rem;
}
.theme-default-content:not(.custom) > h3, .theme-default-content:not(.custom) > h4, .theme-default-content:not(.custom) > h5, .theme-default-content:not(.custom) > h6 {
    margin-top: -3rem;
    padding-top: 3.6rem;
    margin-bottom: 0;
}