
.navbar{
  min-width :1250px;
}
.navbar .links {
    display : inline-block;
    max-width : none!important;
}
.navbar .links .search-box.search-box{
    float : right;
    margin-left :0.6rem;
  }
.nav-links .nav-item{
  margin-left : 0.5rem;
}